.signin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.signin-about{
    max-width: 700px;
    padding: 2em;
    font-size: x-large;
}
.signin-box{
    max-width: 700px;
    padding: 2em;
    padding-top: 0;
    font-size: large;
}
.login-with-google{
    display: flex;
    align-items: center;
    width: max-content;
    padding: .5rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    transition-duration: .2s;
}
.login-with-google:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.25);
}
.logo-google{
    margin-right: 10px;
    height: 20px;
    width: auto;
}