.nav{

    /* display: flex;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    padding: .5em;
    /* background-color:#e9e9e9; */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    background-image: linear-gradient(120deg,#73ff81 0%,#58f399 100%);
}
.nav-brand{
    font-family: 'Podkova', serif;
    letter-spacing: 1px;
    font-size: xxx-large;
    transition: all .5s;
    /* position: absolute; */
    top: 0;
    left: 0;

}
.nav-brand:hover{
    letter-spacing: 5px;
}


.nav-items{
    display: flex;
    /* align-items: center;
    vertical-align: middle; */
}
.nav-button{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f1f1f1;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.nav-button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.nav-button:active {
	position:relative;
	top:1px;
}    
.dropdown{
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}
.dropdown-items{
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
    min-width: 110px;
    text-align: right;
    border-radius: 10px;
}
.dropdown:hover{
    cursor: pointer;
}
.dropdown-item{
    margin: 10px;
    padding: 10px;
}
.nav-link{
    text-decoration: none;
    font-weight: bolder;
    margin: 10px;
    color: #FFFFFF;
    transition: all .3s;
}
.nav-link:hover{
    color: #FF7A00;
    transform: translateX(10px);
}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu-icon{
    /* background-color: red; */
    display: none;
    font-size: 1.8rem;
    padding-top: 15px;
}

.avatar{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-40%,40%);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50px
}


@media screen and (max-width: 550px ){
    .menu-icon{
        display: block;
        color: white;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(120deg,#73ff81 0%,#58f399 100%);
        /* background-color: blue; */
        position: absolute;
        top: 52px;
        width: 100%;
        left: -120%;
        transition: all 0.3s ease-out;
    }
    .nav-list.active{
        left: 0;
        transition: all 0.3s ease-out;
        font-size: 1.3rem;
        padding: 0.6rem;
    }

}

